@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap');

.carousel-item img {
    height: 300px; /* Установите фиксированную высоту для изображений */
    object-fit: cover; /* Сохраняйте пропорции и обрезайте изображения, чтобы они полностью заполняли контейнер */
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: calc(4.5rem - 1px) !important;
}

body {
    letter-spacing: 0.0625em !important;
    font-family: 'Readex Pro', sans-serif;
    font-size: 16px;
    background-color: #5446EB;
    color: white;
}

h1 {
    font-size: 3em;
    color: white;
    font-weight: 700;
}

h2 {
    font-size: 2.5em;
    color: white;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    color: white;
    font-weight: 700;
}


a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 2em;
    }
}