.card{
    background-color: white;
    padding: 20px;
    width: 500px;
    font-size: 14px;

    h2{
        font-size: 1.5em;
        color: #5446EB;
    }

    .price{
        font-size: 1.2em;
    }

    .btn{
        background-color: #5446EB;
        color: white;
        margin-top: 30px;
    }
}