
body {
    letter-spacing: 0.0625em !important;
    font-family: 'Readex Pro', sans-serif;
    background-color: #5446EB;
}


input{
    border: none;
    border-radius: 5px;
    padding: 10px;
}



.form-field{
    width: 277px;
}

.gender{
    color: white;
}


@media (min-width: 992px) {
    .masthead {
        padding: 0;
    }

    .card{
        padding: 50px;
    }
}
