// src/page/quiz/quiz.scss
.list-group-item-success {
    background-color: #28a745 !important;
    color: #fff !important;
  }
  
  .list-group-item-danger {
    background-color: #dc3545 !important;
    color: #fff !important;
  }
  