:root {
    --main-bg-color: #5446EB;
}

html, body {
    background-color: var(--main-bg-color);
    height: 100%;
    margin: 0;
}

html {
    scroll-padding-top: calc(4.5rem - 1px) !important;
}

#root, .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    letter-spacing: 0.0625em !important;
    font-family: 'Readex Pro', sans-serif !important;
    font-size: 16px;
    background-color: var(--main-bg-color);
}

h2 {
    font-size: 2.5em;
    color: white;
    font-weight: 700;
}

a {
    color: white;
    text-decoration: none;
}

button,
a.btn {
    background-color: white;
    color: #5446EB;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover,
a.btn:hover {
    background-color: #EAEAEA;
    color: #5446EB;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content {
    flex: 1;
    padding: 20px;
}

.footer {
    padding: 20px 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 12px;
        min-height: 100vh;
    }
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .content {
        padding-top: calc(4.5rem + 20px);
    }
}
